@use '../abstracts' as *;
@use '../utilities/' as *;

/* Button Styling */

.form-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline-end: 4rem;
  margin-block-start: 4rem;

  @include mq($until: medium) {
    padding-inline-end: unset;
  }
}

.nextstep {
  display: flex;
  background-color: var(--clr-primary-marine-blue);
  margin-inline-start: auto;
  padding: .5rem 1rem;
  border-radius: .5rem;
  color: white;
  font-weight: 500;
  font-size: .95rem;
  transition: opacity .3s ease;
}

.nextstep:hover {
  opacity: .8;
}