.plan-switch {
  display: flex;

  .switch {
    width: 2rem;
    height: 1rem;
    border-radius: 1rem;
    padding-inline: .2rem;
    background-color: var(--clr-primary-marine-blue);

    .switch__circle {
      width: .75rem;
      height: .75rem;
      border-radius: 50%;
      background-color: white;
    }
  }
}