@use "../utilities/" as *;

@include mq($from: medium) {
  .option {
    flex-direction: column;
  }
  .option {
    h2 {
      margin-block-start: 2rem;
    }
  }
  
}
.plan-options {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
  overflow-wrap: break-word;
  hyphens: auto;
  
  div.option__info,
  h2,
  .option__price,
  .yearlydeal,
  svg {
    pointer-events: none;
  }

  h2 {
    font-size: 1rem;
  }

  .option {
    display: flex;
    gap: 1rem;
    border: 1px solid var(--clr-neutral-light-gray);
    padding: 1rem;
    border-radius: .5rem;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: border-color .3s ease;
  }

  .option.selected,
  .option:hover {
    border-color: var(--clr-primary-purplish-blue);
  }

  .yearlydeal {
    position: absolute;
    opacity: 0;
    bottom: 0;
    scale: 1 0;
    transition: 
    opacity .5s ease,
    scale .3s ease;
  }

  .yearlydeal.visible {
    position: unset;
    opacity: 1;
    scale: 1;
    pointer-events: all;
  }
} 

@include mq($until: medium) {
  .plan-options {
    grid-template-columns: unset;
  }
  
}