@use '../abstracts' as *;

/* Base Styling */
:root {
  @each $color, $hues in $colors {
    @each $hue, $value in $hues {
      --clr-#{$color}-#{$hue}: #{$value};
    }
  }
}


ol {
  list-style: none;

  li > a {
    text-decoration: none;
  }
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

body {
  padding: 1rem;
}