@use '../abstracts' as *;
@use "../utilities/" as *;
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


/* Typography */
body {
  font-family: 'Ubuntu', sans-serif;
}

h1,
h2,
label,
.monthly.active,
.yearly.active,
.yearlydeal,
.plan-type,
.plan-price {
  color: var(--clr-primary-marine-blue);
}

label {
  font-weight: 500;
}

.step__heading {
  font-size: 1.6rem;
}

.step__box > :first-child,
.yearlydeal {
  font-size: .8rem;
}

.step__desc,
.step__box > :last-child {
  font-size: .95rem;
}

@include mq($until: medium) {
  .step__desc {
    font-size: 1.1rem;
    font-weight: 500;
  }
}

.step__box > :first-child,
.step__desc,
.plan-switch,
.option__price,
.add-on__info > p,
.summary-add-on__name,
.total-label,
.change-plan {
  color: var(--clr-neutral-cool-gray);
}

.step__box > :last-child,
.confirm {
  color: white;
}

.step__box > p,
.yearlydeal,
.option__price,
.invalid,
.plan-type,
.plan-price,
.total,
.confirm {
  font-weight: 600;
}

.plan-switch {
  font-weight: 700;
}

.plan-switch,
.yearlydeal,
.change-plan {
  font-size: .85rem;
}


.option__price {
  font-size: .9rem;
}

.add-on__info {
  h2 {
    font-size: 1rem;
  }

  p {
    font-size: .8rem;
    font-weight: 500;
  }
}

.add-on__price,
.change-plan:hover,
.total {
  color: var(--clr-primary-purplish-blue);
}

.invalid {
  font-size: .85rem;
  color: var(--clr-primary-strawberry-red);

}

.total {
  font-size: 1.1rem;
}