@use '../abstracts' as *;
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');


/* Typography */
body {
  font-family: 'Ubuntu', sans-serif;
}

h1,
h2,
label,
.monthly.active,
.yearly.active,
.yearlydeal {
  color: var(--clr-primary-marine-blue);
}

label {
  font-weight: 500;
}

.step__heading {
  font-size: 1.6rem;
}

.step__box > :first-child,
.yearlydeal {
  font-size: .8rem;
}

.step__desc,
.step__box > :last-child {
  font-size: .95rem;
}

.step__box > :first-child,
.plan-switch,
.option__price {
  color: var(--clr-neutral-cool-gray);
}

.step__box > :last-child {
  color: white;
}

.step__box > p,
.yearlydeal {
  font-weight: 600;
}

.plan-switch {
  font-size: .85rem;
  font-weight: 700;
}

.yearlydeal {
  font-size: .8rem;
}


.option__price {
  font-size: .9rem;
  font-weight: 600;
}

.add-on__info {
  h2 {
    font-size: 1.1rem;
  }
}

